<body>
    <div [ngClass]="isPhone ? 'desc-phone' : 'desc'">
        <p>
            My passion for programming dates back to high school, where I created a 2D video game called "Aurora Sees Fire," which sparked my interest in software development and fueled my dedication to this field.
        </p>
        <p>
            I am also a third-year student at the Faculty of Electronics, Telecommunications and Information Technology (ETTI) at the Technical University of Cluj-Napoca. Here, I delve into the fundamentals of electronics, telecommunications, and programming. My
            studies involve using a variety of tools and languages such as C++, C, Java, Visual Studio 2022, Eclipse, VHDL, MATLAB, LTSpice, and orCAD to simulate and design electrical components and circuits.
        </p>
        <p>
            As a working student full-stack developer at Bosch Romania, I apply my programming skills and electrical engineering knowledge to develop Web API applications using .NET and Angular. I work with Docker, RabbitMQ, and microservices to create scalable and
            reliable solutions for various projects and clients.
        </p>
    </div>
</body>