<div style="margin: 20px;">
    <h1>Food Scanner Application</h1>

    <div class="div-buttons">
        <label class="select-file" for="file">Select Image</label>
        <input type="file" id="file" (change)="onFileSelected($event)" accept="image/*" />
        <h3 *ngIf="isFileSelected">Selected Image {{ getFileName() }}</h3>
    </div>

    <button class="select-file" (click)="upload()" [disabled]="!selectedFile">Send Image</button>

    <div *ngIf="isValidUnhealthyList" class="detected-substances">
        <h3>Dangerous substances detected:</h3>
        <ul>
            <li *ngFor="let item of unhealthyList">
                <strong>{{ item.name_ro }}</strong>
                <span *ngIf="item.abbreviation"> ({{ item.abbreviation }})</span>
                <span *ngIf="item.description"> {{ item.description }}</span>
            </li>
        </ul>
    </div>

    <div *ngIf="unhealthyList?.length === 0 && allText">
        <p>There are no dangerous substances!</p>
    </div>

    <div *ngIf="errorMessage" style="color: red;">
        <p>Error: {{ errorMessage }}</p>
    </div>
</div>