.column-about {
    float: left;
    width: 30%;
    flex-direction: column;
    display: flex;
    position: sticky;
}

.display-content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    @media only screen and (min-width: 375px) {
        margin-left: auto;
        margin-right: auto;
    }
    @media only screen and (min-width: 768px) {
        padding-left: 5rem;
        padding-right: 5rem;
        margin-left: auto;
        margin-right: auto;
    }
    @media only screen and (min-width: 1024px) {
        padding-left: 15rem;
        padding-right: 15rem;
        margin-left: auto;
        margin-right: auto;
    }
    @media only screen and (min-width: 2048px) {
        padding-left: 15rem;
        padding-right: 15rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.centre-page {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: auto;
    align-content: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    @media only screen and (min-width: 375px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @media only screen and (min-width: 768px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @media only screen and (min-width: 1024px) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    @media only screen and (min-width: 2048px) {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

.hamburger-button {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin: 1rem 0;
  padding: 0;
  /* Poți personaliza culori, dimensiuni, etc. */
}

@media only screen and (max-width: 1024px) {
  .hamburger-button {
    display: block;
  }

  .centre-page {
    flex-direction: column;
    align-items: flex-start;
  }
}
