/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'UbuntuMono-Bront';
    src: url('../fonts/UbuntuMono-Bront.ttf') format('truetype');
}

html,
body {
    height: 100%;
    font-family: 'UbuntuMono-Bront';
    background-color: #F8F4E1;
}

body {
    margin: 0;
    font-size: 2rem;
    font-family: 'UbuntuMono-Bront';
    background-color: #F8F4E1;
}

@media only screen and (min-width: 960px) {}

@media only screen and (min-width: 1440px) {
    .body {
        font-size: 5rem;
        font-family: 'UbuntuMono-Bront';
        background-color: #F8F4E1;
    }
}

@media only screen and (min-width: 2000px) {
    .body {
        font-size: 5rem;
        font-family: 'UbuntuMono-Bront';
        background-color: #F8F4E1;
    }
}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .body {
        font-family: 'UbuntuMono-Bront';
        background-color: #F8F4E1;
    }
}

@media only screen and (device-width: 768px) {
    /* default iPad screens */
    .body {
        font-family: 'UbuntuMono-Bront';
        background-color: #F8F4E1;
    }
}


/* different techniques for iPad screening */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    .body {
        font-family: 'UbuntuMono-Bront';
        font-size: 1rem;
        background-color: #F8F4E1;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    .body {
        font-family: 'UbuntuMono-Bront';
        font-size: 1rem;
        background-color: #F8F4E1;
    }
}

app-portfolio {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    padding-top: 5rem;
    margin: 0, auto;
}