$menuHeight: 60px;
$menuBreakpoint: 768px;
#my-menu {
    font-family: 'UbuntuMono-Bront';
    padding-top: 7rem;
    padding-bottom: 7rem;
    .name {
        font-size: 2rem;
        font-weight: bolder;
        padding-left: 5rem;
        font-family: 'UbuntuMono-Bront';
    }
    .short-desc {
        font-size: 1rem;
        font-weight: bolder;
        padding-left: 5rem;
        font-family: 'UbuntuMono-Bront';
    }
    .spacer {
        flex: 1 1 auto;
    }
    .logotype {
        a {
            padding: 0 8px;
            font-size: 1.4rem;
            text-decoration: none;
        }
    }
    li {
        list-style-type: none;
    }
    .list {
        width: 3rem;
        height: 3px;
        margin-right: 1rem;
        padding: 1rem;
        background-color: black;
        background-clip: content-box, padding-box;
    }
    .padding-up {
        padding-top: 10px;
    }
    .padding-down {
        padding-bottom: 10px;
    }
    .menu-item {
        display: flex;
        height: 2rem;
        font-size: larger;
        color: inherit;
        text-decoration: none;
    }
}