<div id="my-menu">

    <div>
        <h1>
            <a mat-button class="name" routerLink="">Uifelean Aurora-Sofia</a>
        </h1>
        <h2 class="short-desc">
            almost Junior Full-Stack Developer
        </h2>
        <p class="desc">
            "Why did the private classes break up? Because they never saw each other."
        </p>
        <nav *ngIf="!isPhone">
            <ul>
                <li>
                    <a class="menu-item" routerLink="">
                        <span class="list padding-up padding-down"></span>
                        <span class="menu-item">
                            home
                        </span>
                    </a>
                </li>
                <li>
                    <a class="menu-item" routerLink="about">
                        <span class="list padding-up padding-down"></span>
                        <span class="menu-item">
                            about
                        </span>
                    </a>
                </li>
                <li>
                    <a class="menu-item" routerLink="qualification">
                        <span class="list padding-up padding-down"></span>
                        <span class="menu-item">
                            qualification
                        </span>
                    </a>
                </li>
                <li>
                    <a class="menu-item" routerLink="portfolio">
                        <span class="list padding-up padding-down"></span>
                        <span class="menu-item">
                            portfolio
                        </span>
                    </a>
                </li>
                <li>
                    <a class="menu-item" routerLink="blog">
                        <span class="list padding-up padding-down"></span>
                        <span class="menu-item">
                            blog
                        </span>
                    </a>
                </li>
                <li>
                    <a class="menu-item" routerLink="contact">
                        <span class="list padding-up padding-down"></span>
                        <span class="menu-item">
                            contact
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>